body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfd;
    padding-left: 100px;
    padding-top: 44px;
    padding-right: 50px;
}
nav a{   
    text-decoration: none;
    color: rgb(66, 29, 167);
    font-size: 20px;
    padding-right: 20px;
}
/*--------------BANNER SECTION -----------*/
.top-banner{
    background-color: #544ea7;
    padding-left: 100px;
    padding-top: 44px;
    height: 750px;
    margin-bottom: 70px;
    display: flex;
}
.half-width{
    width: 50%;
}
h1{
    font-size: 90px;
    font-weight: 700;
    color: white;
    padding: 0;
    margin-bottom: 20px;
}
.top-banner img{
    height: auto;
    width: 506px;
    left: 1289px;
    top: 153px;
    border-radius: 0px;
}
.banner-image:hover{
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}
.link-button{
    text-decoration: none;
    color: rgb(99, 68, 211);
    font-size: 2em;
    font-weight: 400;
    background-color: #faf1f4;
    height: 44px;
    width: 168px;
    margin-bottom: 160px;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
    }
    /* -------------- PLAYERS' 
                 SECTION -------------------*/
    .players-album{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .player-frame{
        width: 330px;
        height: 475px;
        margin: 10px;
        padding: 15px 15px 15px 15px;
        position: relative;
        border-radius: 0;
        overflow: hidden;
        border: 2px solid white;
        box-shadow: 2px 2px 2px 2px rgb(221, 218, 218);
    }
    .player img{
        width: 100%;
        margin-right: 10px;
        background-color: white;
    }
    .player-detail{
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        background-color: white;
    }
    .player-detail h3{
        color: black; 
        text-align: left;
        font-weight: 700;
    }
    .player-frame:hover .player-detail{
        display: block;
        background-color: rgba(202, 235, 235, 0.685);
    }
    
    .player-frame:hover .player{
        transform: scale(1.3) ;
        transition: transform 2s ease-in-out;
    }
    /*--------------- MATCH 
                    VIDEOS ------------*/
    .match-videos{
        display: grid;
        margin: 30px;
        padding-left: 20px;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: center;
        margin-bottom: 50px;
        font-weight: 800;
    }
    .video{
        display: flex;
        align-items: center;
        /* flex-wrap: nowrap; */
    }
    .videos{
        padding: 10px;
        box-shadow: 10px 10px 40px gray;
        border-radius: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    /*---------- FOOTER SECTION------------ */

    .footer-article{
        display: grid;
    }
    .footer-article img{
        width: 385px;
        height: 110px;
        align-items: center;
        justify-content: center;
        padding: 30px 381px 3px 405px;
    }
    .social-icons{
        text-align: center;
        display: flex;
        align-items: center;
        padding: 30px 681px 13px 548px;
        margin-right: 30px;
    }

    .fab{
        width: 17.07px;
        height: 17.04px;
        background-color:#e2e7f8 ;
        padding:10px;
        margin: 0px 14px;
        border-radius: 100px;
        color: #969BAB ;
        }
    h4, .validation {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    /* @media (min-width: 900px) {
        .half-width{
            flex-direction: column; 
        }
        .player-frame{
            margin-bottom: 20px;
            flex-direction: column;
        }
        .player-album{
            flex-direction: column;
        }
        .match-videos{
            grid-template-columns: repeat(1,2fr);
        }
        .footer-section{
            flex-direction: column;
        }
    }
    @media (max-width: 570px) {
        .top-banner{
            flex-direction: column;
            font-size: 40px;
        }
        .link-button{
            font-size: .5em;
            padding: 0;
        }
        .banner-image{
            flex-direction: column; 
            margin-bottom: 700px;
            background-color: #544ea7;
            padding: 0;
            margin-left: 0;
            display: block;
        }
        .player-frame{
            margin-bottom: 20px;
            flex-direction: column;
        }
        .player-album{
            flex-direction: column;
        }
        .match-videos{
            grid-template-columns: repeat(1,1fr);
        }
        .footer-section{
            flex-direction: column;
        }
    } */