body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #fcfcfd;
    padding-left: 100px;
    padding-top: 44px;
    padding-right: 50px;
}
nav a{   
    text-decoration: none;
    color: rgb(66, 29, 167);
    font-size: 20px;
    padding-right: 20px;
}
/*--------------BANNER SECTION -----------*/
.background{
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.top-banner{
    padding-left: 100px;
    padding-top: 44px;
    height: 750px;
    margin-bottom: 70px;
    display: flex;
}
/* .half-width{
    width: 50%;
} */
.half-width img{
    width: 80%;
}
h1{
    font-size: 70px;
    font-weight: 700;
    color: rgb(77, 74, 250);
    padding: 0;
    margin-bottom: 20px;
}
.banner-image{
    height: auto;
    width: 436px;
    left: 1289px;
    top: 153px;
    border-radius: 0px;
}
.banner-image:hover{
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}
.link-button{
    text-decoration: none;
    color: rgb(99, 68, 211);
    font-size: 2em;
    font-weight: 400;
    background-color:   rgb(238, 236, 243);
    height: 44px;
    width: 168px;
    margin-bottom: 160px;
    padding: 10px 24px 10px 24px;
    border-radius: 5px;
}
    /* -------------- PLAYERS' 
                 SECTION -------------------*/
    .players-album{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .player-frame{
        width: 330px;
        height: 475px;
        margin: 10px;
        padding: 15px 15px 15px 15px;
        position: relative;
        border-radius: 0;
        overflow: hidden;
        border: 2px solid white;
        box-shadow: 2px 2px 2px 2px rgb(221, 218, 218);
    }
    .player img{
        width: 100%;
        margin-right: 10px;
        background-color: white;
    }
    .player-detail{
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        background-color: white;
    }
    .player-detail h3{
        color: black; 
        text-align: left;
        font-weight: 700;
    }
    .player-frame:hover .player-detail{
        display: block;
        background-color: rgba(202, 235, 235, 0.685);
    }
    
    .player-frame:hover .player{
        transform: scale(1.3) ;
        transition: transform 2s ease-in-out;
    }
    /*--------------- MATCH 
                    VIDEOS ------------*/
    .match-videos{
        display: Flex;
        margin: 30px;
        padding-left: 20px;
        align-items: center;
        justify-content: center;
    }
    h2{
        text-align: center;
        margin-bottom: 50px;
        font-weight: 800;
    }
    .video{
        display: flex;
        align-items: center;
        /* flex-wrap: nowrap; */
    }
    .videos{
        padding: 10px;
        box-shadow: 10px 10px 40px gray;
        border-radius: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    /*---------- FOOTER SECTION------------ */

    footer{
        background-color: lightblue;
    }
    .social-icons{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 681px 13px 548px;
        margin-left: 50px;
    }

    .fab{
        width: 17.07px;
        height: 17.04px;
        background-color:#e2e7f8 ;
        padding:10px;
        margin: 0px 14px;
        border-radius: 100px;
        color: #969BAB ;
        }
    h4, .validation {
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    /* Media Query */
    @media only screen and (min-width: 900px) {
        /* .top-banner{
            flex-direction: column; 
        } */
        .player-frame{
            margin-bottom: 20px;
            flex-direction: column;
        }
        .player-album{
            flex-direction: column;
        }
        /* .video{
            flex-direction: column;
            grid-template-columns: repeat(3,1fr);
        } */
        /* .footer-article{
            flex-direction: column;
        } */
    }
    @media only screen and (max-width: 600px) {
        .top-banner{
            flex-direction: column;
            font-size: 40px;
            padding: 0;
            margin: 0;
        }
        h1{
            padding: 0;
            margin: 0;
        }
        .link-button{
            font-size: 1em;
            padding: 0;
        }
        .banner-image{
            flex-direction: column; 
            margin-bottom: 700px;
            background-color: #544ea7;
            padding: 0;
            margin-left: 0;
            display: flex;
        }
        .player-frame{
            margin-bottom: 20px;
            flex-direction: column;
        }
        .player-album{
            flex-direction: column;
        }
        .match-videos, .video{
            flex-direction: column;
        }
        .videos{
            flex-direction: column;
        }
        .social-icons{
            padding: 0;
        }
    }